@media screen and (max-width: 375px) {
    
}

@media screen and (max-width: 576px) {
    #hero-section .title {
        font-size: 40px;
        margin-bottom: 0;
    }
    #hero-section .sub-title {
        font-size: 14px;
    }

    #hero-section .social-media {
        margin-top: 60px;
    }

    #hero-section .social-media img{
        width: 26px;
    }

    #hero-section .row :nth-child(1) {
        order:2;
   }

   #hero-section .row .columnSatu {
        padding-top: -100px;
   }

}

@media screen and (max-width: 768px) {
    #hero-section .title {
        font-size: 40px;
        margin-bottom: 0;
    }
    #hero-section .sub-title {
        font-size: 14px;
    }

    #hero-section .social-media {
        margin-top: 60px;
    }

    #hero-section .social-media img{
        width: 26px;
    }

    #hero-section .row :nth-child(1) {
        order:2;
   }

   #hero-section .row .columnSatu {
        padding-top: -100px;
   }

}

@media screen and (max-width: 991px) {

}