/* responsive */

@media screen and (max-width: 991px) {
  .navbar-collapse {
    background-color: white;
    margin-top: 10px;
    padding: 20px;
  }

  .wrapper-card {
    width: 330px;
  }

  .button-contact {
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .image-hero {
    background-size: cover;
  }
  .navbar-collapse {
    background-color: white;
    padding: 20px;
  }

  .hero-section {
    display: flex;
  }
  .hero-caption {
    margin-top: -40px;
    margin-bottom: 50px;
    order: 2;
  }

  .h-caption {
    font-size: 2.188em;
  }

  .wrapper-card {
    width: 100%;
    margin-bottom: 20px;
  }

  .heading {
    font-size: 1.625em;
  }

  .subject-contact {
    font-size: 0.875em;
  }
}
