*,
html,
body {
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav-link {
  color: #313131;
  font-weight: 500;
}

.nav-item a:hover {
  background-color: #ff3333;
  color: white;
}

.navbar {
  height: 80px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 7%);
}

.hero-section {
  height: 100vh;
}

.h-caption {
  padding-top: 180px;
  font-size: 3.5rem;
  font-weight: 700;
}

.button-detail {
  display: inline-block;
  width: 200px;
  height: 40px;
  color: white;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  list-style: none;
  background-color: #ff3333;
}

.button-contact {
  display: inline-block;
  width: 200px;
  height: 40px;
  color: #313131;
  line-height: 31px;
  text-align: center;
  text-decoration: none;
  list-style: none;
  border: 4px solid #ff3333;
}

.button-detail:hover {
  color: white;
  font-weight: 500;
  background-color: #e22e2e;
}

.button-contact:hover {
  color: white;
  font-weight: 500;
  background-color: #ff3333;
}

.image-hero {
  background-image: url(/assets/images/hero-section.JPG);
  height: 450px;
  background-position: center;
  background-size: cover;
  margin-top: 150px;
  border-top: 5px solid #ff3333;
  border-bottom: 5px solid #182bff;
  /* border-top-right-radius: 150px; */
}

.heading {
  font-size: 1.875em;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
}

.about-section {
  margin-bottom: 50px;
}

.image-about {
  background-image: url(/assets/images/hero-section.JPG);
  background-position: center;
  background-size: cover;
  height: 450px;
}

.judul {
  font-size: 1.75em;
  font-weight: 700;
}

.section-sejarah {
  padding: 0 20px;
  font-size: 20px;
  font-weight: 600;
}

.paragraph {
  font-size: 16px;
  font-weight: 300;
}

section {
  margin-bottom: 70px;
}

.box {
  width: 300px;
  height: 358px;
  border-radius: 0;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 7%);
}

.box-title {
  font-size: 1.2em;
}

.box-subtitle {
  font-size: 1em;
}

.box-body {
  padding: 20px;
}

.button-box {
  display: inline-block;
  width: 260px;
  height: 40px;
  color: white;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  list-style: none;
  background-color: #ff3333;
}

.button-box:hover {
  color: white;
  font-weight: 500;
  background-color: #e22e2e;
}
.contact-us {
  margin-top: 50px;
  padding: 20px;
  background-color: #ff3333;
  color: white;
}

#footer {
  margin-top: 70px;
  border-top: 1px solid rgba(0, 0, 0, 7%);
}

#footer a {
  text-decoration: none;
  color: black;
}

#footer .content-left {
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .services-section {
    margin-top: 80px;
  }

  .box {
    width: 100%;
  }
}
