* {
    box-sizing: border-box;
}

:root {
    --pr-color: #E93A3A;
    --sec-color: #FFB7B7;
    --black: #424242;
    --grey: #EDEDED;
}

body {
    font-family: 'Inter', sans-serif; 
    font-size: 14px;
    color: var(--black);
}

/* navbar */
.navbar {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-item:hover {
    border-radius: 10px;
    background-color: var(--pr-color);
}

.navbar-nav .nav-item {
    margin-left: 20px;
}

.nav-link {
    font-size: 16px;
    color: var(--black);
}

.nav-link:hover {
    color: var(--grey);
}

.nav-item .nav-link.active {
    color: var(--pr-color);
    font-weight: 700;
}

.nav-item .nav-link.active:hover {
    color: var(--grey);

}
/* end Navbar */

/* hero section */
#hero-section .row {
    padding-top: 100px;
}

#hero-section .title {
    font-size: 50px;
    font-weight: 700;
    line-height: 61px;
    margin-bottom: 15px;
}

#hero-section .sub-title {
    font-size: 16px;
    margin-bottom: 60px;
    
}
.primary-btn {
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    border-radius: 10px;
    color: var(--grey);
    width: 150px;
    padding: 10px 0;
    background-color: var(--pr-color);
}

.primary-btn:hover {
    color: var(--grey);
    background-color: #CE1111;
  
}

.secondary-btn {
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    border-radius: 10px;
    color: var(--black);
    width: 150px;
    padding: 10px 0;
    background-color: var(--sec-color);
}

.secondary-btn:hover {
    color: var(--grey);
    background-color: #CE1111;
  
}

.social-media {
    margin-top: 150px;
}

/* end hero section */

/* about section */
section#about {
    background-color: var(--sec-color);
}

h2 {
    font-weight: 700;
   margin-top: 60px;
   margin-bottom:0px 
}

.subtitle {
    margin-bottom: 40px;
}

#about .card-body {
    box-sizing: border-box;
}
#about .card-body .box-thumbnail {
    width: 60px;
    height: 60px;
    margin: 5px;
    background-color: var(--grey);
}
/* end about section */